# .gitignore
.vs/*

# build files
*.ninja_deps
*.ninja_log
*.ninja
cmake_install.cmake
CMakeCache.txt
*.ilk
*.pdb
VSInheritEnvironments.txt
bin/debug_x86/CMakeFiles/*
bin/x86/CMakeFiles/*
bin/debug_x64/CMakeFiles/*
bin/x86/CMakeFiles/*
